.grid{
    width: 512px;
    height: 412px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 120px;
    padding-left: 50px;
    padding-bottom: 100px;
    gap: 1rem
}

.square{
    height: 100px;
    width: 100px;
    border: solid black 5px;
    border-radius: 40px;
}

.mole{
    background-image: url('attacker.png');
    background-size: cover;
}

.scoreText{
    padding-top: 50px;
    display: inline;
}

.TL{
    display: inline;
    text-align:center;
    font-size: 50px;
    font-family: "Candara","Lucida Console", "Courier New", monospace;
}

.timeNum{
    display: inline;
    padding-bottom: 50px;
    font-size: 50px;
    font-family: "Candara","Lucida Console", "Courier New", monospace;
    color: red;
}

.YS{
    display: inline;
    font-size: 50px;
    font-family: "Candara","Lucida Console", "Courier New", monospace;
}

.score{
    display: inline;
    font-size: 50px;
    font-family: "Candara","Lucida Console", "Courier New", monospace;
}

.allScoreText{
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 40px;
    width: 400px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.6);
}

.allTimeText{
    text-align: center;
    margin: auto;
    background-color: white;
    border-radius: 40px;
    width: 400px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.6);
}

html { 
    background: url(desert.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.modal::backdrop{
    background: linear-gradient(45deg, red, blue);
    opacity: .3;
}

.modal{
    border: 0;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.6);
    margin-top: 230px;
    font-size: 50px;
    background-color: azure;
    font-family: "Candara","Lucida Console", "Courier New", monospace;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: coral;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Candara","Lucida Console", "Courier New", monospace;
    box-shadow: 0 2px 2px 0 black;
}